body {
  margin: 0px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 40px;

  &-text {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    margin-left: 25px;
  }

  > img {
    margin-right: 25px;
  }
}

.header-btn {
  display: flex;
  justify-content: flex-end;

  > button {
    height: 30px;
    font-size: 17px;
    color: white;
    background-color: rgb(125,152,161);
    cursor: pointer;
    border-radius: 4px;
  }

  & > .header-btn-login {
    margin-right: 10px;
  }
}

.wrapper-content {
  
  &-block-1 {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(243,241,244);
    border-radius: 15px;

    & > .vertical {

      & > .vertical-line {
        margin-top: 3vh;
        width: 3px;
        background-color: rgb(19, 3, 3);
        height: 75%;
        border-radius: 2px;
      }
    }

    & > .horizontal {
      display: flex;
      align-items: center;

      & > .horizontal-line {
        width: 100px;
        height: 3px;
        background-color: rgb(19, 3, 3);
      }
    }
    
  }
}